# Task
Create a Jupyter Notebook with markdown cells for the title, introduction, data science languages, data science libraries, a table of data science tools, arithmetic expression examples, objectives, and author's name. Include code cells to multiply and add numbers and convert minutes to hours.



Create a markdown cell with the title of the notebook.

In [16]:
%%markdown
# Data Science Ecosystem

# Data Science Ecosystem

## Create a markdown cell for an introduction.

### Subtask:
Create a markdown cell for an introduction.

In [13]:
%%markdown
This notebook is created to demonstrate the understanding of the Data Science ecosystem, including popular languages, libraries, and tools used in the field. It also includes examples of basic arithmetic operations and data conversions.

This notebook is created to demonstrate the understanding of the Data Science ecosystem, including popular languages, libraries, and tools used in the field. It also includes examples of basic arithmetic operations and data conversions.

## Create a markdown cell to list data science languages.

In [3]:
%%markdown
## Data Science Languages

Some popular languages for Data Science are:
* Python
* R
* SQL
* Julia
* Scala

## Data Science Languages

Some popular languages for Data Science are:
* Python
* R
* SQL
* Julia
* Scala

## Create a markdown cell to list data science libraries.

### Subtask:
Create a markdown cell to list data science libraries.

In [4]:
%%markdown
## Data Science Libraries

Some of the commonly used libraries used by Data Scientists include:
* Pandas
* NumPy
* SciPy
* Scikit-learn
* TensorFlow
* Keras
* PyTorch
* Matplotlib
* Seaborn

## Data Science Libraries

Some of the commonly used libraries used by Data Scientists include:
* Pandas
* NumPy
* SciPy
* Scikit-learn
* TensorFlow
* Keras
* PyTorch
* Matplotlib
* Seaborn

## Create a markdown cell with a table of data science tools.

### Subtask:
Create a markdown cell with a table of Data Science tools.

In [15]:
%%markdown

| Category             | Tool                     |
|----------------------|--------------------------|
| Development Environments | Jupyter Notebook         |
| Development Environments | RStudio                  |
| Development Environments | VS Code                |
| Data Management      | MySQL                    |
| Data Management      | PostgreSQL               |
| Data Management      | MongoDB                  |
| Visualization        | Tableau                  |
| Visualization        | Power BI                 |

| Category             | Tool                     |
|----------------------|--------------------------|
| Development Environments | Jupyter Notebook         |
| Development Environments | RStudio                  |
| Development Environments | VS Code                |
| Data Management      | MySQL                    |
| Data Management      | PostgreSQL               |
| Data Management      | MongoDB                  |
| Visualization        | Tableau                  |
| Visualization        | Power BI                 |

## Create a markdown cell introducing arithmetic expression examples.

### Subtask:
Create a markdown cell introducing arithmetic expression examples.

In [6]:
%%markdown
## Arithmetic Expression Examples

The following code cells will demonstrate simple arithmetic operations like multiplication and addition, and also a conversion from minutes to hours.

## Arithmetic Expression Examples

The following code cells will demonstrate simple arithmetic operations like multiplication and addition, and also a conversion from minutes to hours.

## Create a code cell to multiply and add numbers.

### Subtask:
Create a code cell to multiply and add numbers.

In [7]:
# Define two numbers
num1 = 10
num2 = 5

# Multiply the numbers
product = num1 * num2

# Add the numbers
sum_result = num1 + num2

# Print the results
print("Product:", product)
print("Sum:", sum_result)

Product: 50
Sum: 15

## Create a code cell to convert minutes to hours.

### Subtask:
Create a code cell to convert minutes to hours.

In [8]:
# Define minutes
minutes = 120

# Convert minutes to hours
hours = minutes / 60

# Print the result
print(f"{minutes} minutes is equal to {hours} hours")

120 minutes is equal to 2.0 hours

## Create a markdown cell to list objectives.

### Subtask:
Create a markdown cell to list Objectives.

In [17]:
%%markdown
## Objectives

- Understand the basics of Markdown in Jupyter Notebooks
- Learn to perform simple arithmetic operations in Python
- Get familiar with popular Data Science languages
- Explore common Data Science libraries and tools
- Practice converting units (minutes to hours) using Python

## Objectives

- Understand the basics of Markdown in Jupyter Notebooks
- Learn to perform simple arithmetic operations in Python
- Get familiar with popular Data Science languages
- Explore common Data Science libraries and tools
- Practice converting units (minutes to hours) using Python

## Create a markdown cell to indicate the author’s name.

### Subtask:
Create a markdown cell to indicate the Author’s name.

In [18]:
%%markdown
## Author

[Souramay Bhowmik]

## Author

[Souramay Bhowmik]